@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato';
  margin: 0;
  padding: 0;
}
@media (max-width: 576px) {
  .App {
    .Header {
      nav {
        #navbarTogglerDemo01 {
          text-align: center;
        }
        ul {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: row;
        }
      }
    }
  }
}
